{{#each erros}}
    <div class="alert alert-danger alert-dismissible fade show" id="success-alert" role="alert">
        {{texto}}
        <button type="button" class="btn-close close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{{else}}

{{/each}}
<h3 class="mt-2">Cadastro de categoria de Produtos</h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/categoria/nova" method="POST">
            <div class="form-group">
                <label for="nome" class="mt-2">Tipo:</label>
                <input type="text" class="form-control mt-2" id="tipo" name="tipo" placeholder="Tipo da Categoria">
                <!--<select name="tipo" id="tipo" class="form-select" aria-label="Default select example">
                    <option selected>Selecione uma opção</option>
                    <option value="eletrodomestico">Eletrodoméstico</option>
                    <option value="comida">Comida</option>
                    <option value="bebida">Bebida</option>
                    <option value="vestuario">Vestuário</option>
                    <option value="automobilistico">Automobilístico</option>
                    <option value="aereo">Aeroviário</option>
                </select>-->
            </div>
            <div class="form-group">
                <label for="sku" class="mt-2">SKU:</label>
                <input type="text" class="form-control mt-2" id="sku" name="sku" placeholder="Sku da Categoria">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary mt-2">Cadastrar</button>
            </div>
        </form>
    </div>
</div>
