<div class="row">
    <div class="col-md-12 home">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/img/post-it.png" alt="Imagem de capa do card">
        <div class="card-body">
           <a href="/category"><h1 class="card-text text-center">Category</h1></a> 
        </div>
        </div>
   
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/img/post-it.png" alt="Imagem de capa do card">
        <div class="card-body">
           <a href="/post"><h1 class="card-text text-center">Posts</h1></a> 
        </div>
        </div>
    </div>
</div>